.Para1 {
    text-decoration: underline;
    text-decoration-color: violet;
    text-decoration-style: double;
}

.Para2 {
    text-decoration: line-through;
    text-decoration-color: lime;
    text-decoration-style: dashed;
}

.Para3 {
    text-decoration: overline;
    text-decoration-color: navy;
    text-decoration-style: dotted;
}

/* 5 სხვა */

.Para4 {
    text-decoration: underline overline;
    text-decoration-color: red;
    text-decoration-style: wavy;
}

.Para5 {
    text-decoration: line-through;
    text-decoration-color: orange;
    text-decoration-style: solid;
}

.Para6 {
    text-decoration: underline;
    text-decoration-color: teal;
    text-decoration-style: dotted;
}

.Para7 {
    text-decoration: overline;
    text-decoration-color: brown;
    text-decoration-style: dashed;
}

.Para8 {
    text-decoration: underline line-through;
    text-decoration-color: black;
    text-decoration-style: double;
}