.Para1 {
    text-shadow: 3px 3px 2px greenyellow ;
    font-weight: bold;
}

.Para2 {
    text-shadow: 2px 1px blue ;
    color: rgb(142, 1, 118);
    font-weight: bold;  
}

.Para3 {
    text-shadow: 1px 1px rgb(142, 1, 118) ;
    color: blue;
    font-weight: bold;  
}

.Para4 {
    text-shadow: 1px 2px 2px rgb(0, 0, 0) ;
      
}

.Para5 {
    text-shadow: 0px 0px 10px rgb(0, 255, 68) ;
    color: white;
    font-weight: bold;
}