body {
  font-family:  "Segoe UI", arial, sans-serif;
  background: #000000;
  color: #000000;
  text-align: center;
}


nav {
  background: #000000;
  padding: 12px;
}

nav a {
  margin: 14px;
  text-decoration: none;
  font-size: 14px;
  color: #b9b9b9;
}

nav a:hover {
  text-decoration: underline;
}


.main-title {
  font-size: 48px;
  font-weight: 600;
  margin: 40px;
  margin-right: 1050px;
  color: white;

}

.photo-row {
  display: flex;           
  justify-content: center;  
  align-items: center;  
  gap: 40px;
}

.photo-row .product {
  text-align: center;
  background-color: white
}

.photo-row .product h1,
.photo-row .product p {
  color: black;
}



.product h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.product p {
  font-size: 17px;
  color: #ffffff;
  margin-bottom: 6px;
}

.product img {
    transition: transform 0.3s ease;
}

.product img:hover {
  transform: scale(1.1);

}

.para {
  color: white;
  font-size: 70px;
}

footer {
  padding: 30px 20px;
  font-size: 15px;
  color: #6e6e73;
  border-top: #ffffff solid
}
