body{
    background-color: black;
}


#a1 h1{
    text-align: left;
    font-size: 50px;
}


#a1{
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    height: 400px;
}


#a1 img{
    height: 275px;
    width: 600px;
}


button{
    border: none;
    background-color: blue;
    color: white;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}


.button1:hover{
    background-color: black;
}


#a2{
    margin-left: 25px;
}


img{
    height: 400px;
    width: 300px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}


.images1 > img{
    margin: 12px;
}


#a3{
    text-align: center;
}


#a5{
    font-size: 60px;
    margin-left: 120px;
    color: white;
    margin-top: 60px;
}


#a3 img:hover{
    transform: scale(1.025);
}


#h{
    font-size: 50px;
    margin-left: 120px;
    color: white;
    margin-top: 60px;
}


#k h1{
    text-align: center;
    color: white;
    font-size: 60px;
}


#k p{
    color: grey;
    font-size: 17px;
    text-align: center;
}


#n{
    height: 300px;
    width: 600px;
}


#l{
    text-align: center;
}


#q{
    width: 625px;
}


#w2{
    text-align: center;
    font-size: 60px;
    color: white;
}


#w4{
    text-align: center;
    color: grey;
    font-size: 12px;
}


#j3{
    font-size: 30px;
    margin-left: 300px;
    color: grey;
}


#L6{
    display: flex;
}

#j3 b{
    color: orange;
    font-size: 40px;
}


nav {
  background: #000000;
  padding: 12px;
  text-align: center;
}

nav a {
  margin: 14px;
  text-decoration: none;
  font-size: 14px;
  color: #b9b9b9;
}

nav a:hover {
  text-decoration: none;
  color: #ffffff;
}


footer {
    text-align: center;
    padding: 30px 20px;
    font-size: 15px;
    color: #6e6e73;
    border-top: #ffffff solid
}