
.table1 {
    border: 2px solid rgb(231, 16, 16);
}

.table1 th, .table1 td {
    font-size: 15px;            
    color: blue;                 
    background-color: green;      
    border: 1px solid rgb(9, 9, 9);     
    padding: 8px;
    text-align: center;
}


.table2 {
    border: 2px solid black;
}

.table2 th, .table2 td {
    font-size: 18px;
    color: green;
    background-color: red;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
